[user]
	name = miaoxiaochao
	email = 18732667205@163.com
[alias]
	a = add -A
	c = commit -m update
[diff]
    tool = bc4
[difftool "bc4"]
    cmd = \"D:/aaaXmcTools/MyWebTools/beeyCom/Beyond Compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" 
[merge]
    tool = bc4
[mergetool "bc4"]
    cmd = \"D:/aaaXmcTools/MyWebTools/beeyCom/Beyond Compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"	
