[user]
	name = miaoxiaochao
	email = 18732667205@163.com
[alias]
	a = add -A
	c = commit -m update
	m = mergetool --tool=bc4

[merge]
    tool = bc4
[mergetool "bc4"]
    cmd = \"d:/aaaXmcTools/MyWebTools/beeyCom/Beyond Compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true
[mergetool]
    keepBackup = false